.discount__title {
  color: #FFF;
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  margin: 32px auto 16px;
  text-align: left;
  width: 216px;
}

@media (min-width: 700px) {
  .discount__title {
    font-size: 32px;
    line-height: 38px;
    width: 280px;
    margin: 40px 40px 20px;
  }
}

@media (min-width: 1000px) {
  .discount__title {
    font-size: 40px;
    font-weight: 44px;
    max-width: 315;
    margin: 60px 0 28px 60px;
  }
}

@media (min-width: 1200px) {
  .discount__title {
    margin: 72px 0 28px 72px;
  }
}