.breadcrumb__item-link {
  text-decoration: none;
  color: #667085;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.breadcrumb__item-link::after {
  content: url('../../../images/icon/arrow-breadcrumb.svg');
  padding: 8px 8px 0;
}