.show__item-button {
  color: #101828;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  background-color: #FFF;
  border: none;
  border-radius: 8px;
  min-width: 36px;
  min-height: 36px;
  cursor: pointer;
}

.show__item-button:hover {
  color: #7F56D9;
  background-color: #F9F5FF;
}