.form-subscribe__submit {
  color: #FFF;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  border-radius: 8px;
  background-color: #7F56D9;
  border: none;
  padding: 10px;
  max-height: 44px;
}