.card__badge_type_multiplayer-rpg {
  color: #E31B53;
  background-color: #FFF1F3;
}

.card__badge_type_multiplayer-rpg::before {
  content: '';
  display: block;
  align-self: center;
  margin-right: 6px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #E31B53;
}