.card__badge_type_action {
  color: #DC6803;
  background-color: #FFFAEB;
}

.card__badge_type_action::before {
  content: '';
  display: block;
  align-self: center;
  margin-right: 6px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #DC6803;
}