.add-card__button {
  display: flex;
  align-items: center;
  color: #FFF;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  background-color: #7F56D9;
  border-radius: 8px;
  padding: 14px 48px;
  border: none;
  white-space: nowrap;
  cursor: pointer;
}

.add-card__button:hover {
  background-color: #6941C6;
}