.show__button {
  color: #101828;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  margin: 32px auto 60px;
  padding: 10px;
  background-color: #FFF;
  border: 1px solid #D0D5DD;
  border-radius: 8px;
  width: 100%;
  max-width: 280px;
}

@media (min-width: 700px) {
  .show__button {
    display: none;
  }
}