.card__close {
  display: none;
  position: absolute;
  right: 8px;
  top: 8px;
  width: 36px;
  height: 36px;
  background-color: #D92D20;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background-image: url("../../../images/icon/card-close.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.card__close:hover {
  background-color: #B32318;
}