.footer__links {
  display: grid;
  margin: 0 20px 0;
  max-width: 1216px;
}

@media (min-width: 700px) {
  .footer__links {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (min-width: 1240px) {
  .footer__links {
    margin: 0 auto 0;
  }
}