.footer__form {
  display: grid;
  grid-template-columns: 1fr;
  margin: 32px 20px 0;
  padding: 0 0 32px;
  border-bottom: 1px solid #344054;
  max-width: 1216px;
}

@media (min-width: 700px) {
  .footer__form {
    margin: 32px 24px 0;
  }
}

@media (min-width: 1000px) {
  .footer__form {
    grid-template-columns: 1fr 1fr;
    padding-bottom: 57px;
    margin-top: 56px;
  }
}

@media (min-width: 1240px) {
  .footer__form {
    margin: 56px auto 0;
  }
}