.discount__image {
  display: none;
  position: absolute;
  right: 36px;
  bottom: 0;
  width: 606px;
  height: 420px;
}

@media (min-width: 1000px) {
  .discount__image {
    display: block;
  }
}

@media (min-width: 1200px) {
  .discount__image {
    right: 98px;
    width: 708px;
    height: 478px;
  }
}