.show__arrow-left {
  background-color: #FFF;
  background-image: url("../../../images/icon/arrow-breadcrumb.svg");
  background-repeat: no-repeat;
  background-position: center center;
  transform: rotate(180deg);
  border: none;
  border-radius: 8px;
  min-width: 36px;
  min-height: 36px;
  cursor: pointer;
}

.show__arrow-left:hover {
  background-color: #F9F5FF;
}