.search__filters-button {
  color: #101828;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  background-color: #FFF;
  border: 1px solid #D0D5DD;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 16px;
}

@media (min-width: 700px) {
  .search__filters-button {
    display: none;
  }
}