.header__discounts {
  display: flex;
  justify-content: space-between;
  align-self: stretch;
  margin: 8px 8px 15px;
  padding: 8px;
  background-color: #7F56D9;
  border-radius: 4px;
  text-align: center;
}